<div class="custom-table">
    <table>
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Appointment Date</th>
                <th>Appointment time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% doctorAppointments.forEach(appointment => { %>
                <tr>
                    <td>
                        <% appointment.p_id.forEach(patient => { %>
                            <h5>Patient: <%= patient.Fname %> <%= patient.Lname %></h5>
                        <% }); %>
                    </td>
                    <td><%= appointment.date %></td>
                    <td><%= appointment.time%></td>

                    <td>
                        <span class="badge <%= appointment.appointmentStatus %>">
                            <%= appointment.appointmentStatus %>
                        </span>
                    </td>
                    <td>
                        <a href="#" class="view-button" data-appointment-id="<%= appointment._id %>">                          <i class="fa-solid fa-eye fa-sm"></i>
                        </a>
                 </td>
                </tr>
            <% }); %>
            
        </tbody>
    </table>
</div>
