<div class="container mt-4">
    <h1>Welcome, Dr. <%= doctor.fName %> <%= doctor.lName %></h1>
    <p class="lead">Here's your dashboard with important information and actions:</p>

    <!-- Cards for displaying patient information -->
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Total Patients</h5>
                    <p class="card-text text-primary"><%=doctor.patients.length %></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class ="card-body">
                    <h5 class="card-title">Upcoming Appointments</h5>
                    <p class="card-text text-warning"><%=doctorAppointments.length %></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        
        </div>
    </div>

    <!-- List of upcoming appointments -->
    <h2 class="mt-4 text-primary">Upcoming Appointments</h2>
    <ul class="list-group">
        <% doctorAppointments.forEach(appointment => { %>
        <% appointment.p_id.forEach(patient => { %>
        <li class="list-group-item">Patient: <%= patient.Fname %> <%= patient.Lname %> - Date: <%= appointment.date %></li>
        <% }); %>
        <% }); %>
    </ul>
</div>