<div class="container mt-4">
    <h1 class="mb-3">Medications</h1>
    <!-- Loop through and display medication entries -->
    <% medications.forEach((medication, index) => { %>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Medication Entry <%= index + 1 %></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Medication Name:</strong> <%= medication.drug %></li>
                            <li class="list-group-item"><strong>Prescription Date:</strong> <%= medication.prescriptionDate %></li>
                            <!-- <li class="list-group-item"><strong>Dosage Instructions:</strong> <%= medication.dosageInstructions %></li> -->
                            <!-- <li class="list-group-item"><strong>Frequency of Administration:</strong> <%= medication.administrationFrequency %></li> -->
                            <!-- <li class="list-group-item"><strong>Medication Expiration Date:</strong> <%= medication.expirationDate %></li> -->
                            <!-- <li class="list-group-item"><strong>Medication Status:</strong> <%= medication.medicationStatus %></li> -->
                            <!-- <li class="list-group-item"><strong>Notes (additional information about the medication):</strong> <%= medication.notes %></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
