<%- include('styleNicon'); -%>
<div class="container-fluid">
  <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary" style="background-color: #292F36 !important;">
          <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
              <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto" style="background-color: #292F36 !important;">
                  <ul class="nav flex-column" style="color:#ffffff !important;">
                      <li class="nav-item" style="color:#ffffff !important;">
                          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#home" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#house-fill"/></svg>
                              Dashboard
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link d-flex align-items-center gap-2" href="#appointments" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                              Appointments
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link d-flex align-items-center gap-2" href="#medicalHistory" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#cart"/></svg>
                              Medical History
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link d-flex align-items-center gap-2" href="#medications" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#people"/></svg>
                              Medications
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link d-flex align-items-center gap-2" href="#lab-reports" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#graph-up"/></svg>
                              Lab Reports
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link d-flex align-items-center gap-2" href="#vitals" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#puzzle"/></svg>
                              Vitals
                          </a>
                      </li>
                  </ul>

                  <hr class="my-3">

                  <ul class="nav flex-column mb-auto">
                      <li class="nav-item">
                          <a class="nav-link d-flex align-items-center gap-2" href="#settings" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
                              Settings
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link d-flex align-items-center gap-2" href="#sign-out" data-bs-toggle="tab" role="tab">
                              <svg class="bi"><use xlink:href="#door-closed"/></svg>
                              Sign out
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

    
    <div class="tab-content col-md-9 col-lg-10 p-0 bg-body">
      <div class="tab-pane active" id="home" role="tabpanel">
          <!-- Content for the Home tab -->
          <%- include('dashboard'); -%>
      </div>
      <div class="tab-pane" id="appointments" role="tabpanel">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Appointments</h1>
        </div>
        <%- include('appointments'); -%>
      </div>
      <div class="tab-pane" id="medicalHistory" role="tabpanel">
          <!-- Content for the Messages tab -->
          <%- include('medicalHistory'); -%>
      </div>
      <div class="tab-pane" id="medications" role="tabpanel">
          <!-- Content for the Medications tab -->
          <%- include('medications'); -%>
      </div>
      <div class="tab-pane" id="lab-reports" role="tabpanel">
        <%- include('labReports'); -%>
      </div>
      <div class="tab-pane" id="vitals" role="tabpanel">
          <!-- Content for the Vitals tab -->
      </div>
      <div class="tab-pane" id="settings" role="tabpanel">
          <!-- Content for the Settings tab -->
      </div>
      <div class="tab-pane" id="sign-out" role="tabpanel">
          <!-- Content for the Sign Out tab -->
      </div>
  </div>
</div>
</div>
  </div>
</div>
<script src="script/dashboard.js"></script>
<!-- Add this script before the closing </body> tag -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script><script src="dashboard.js"></script></body>
</html>